@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}






/*!* Global custom sizes for Tailwind CSS *!*/
/*@layer base {*/
/*  :root {*/



/*    !*--tn: 4px;*!*/
/*    --xs: 8px;*/
/*    --sm: 12px;*/
/*    --md: 16px;*/
/*    --lg: 24px;*/
/*    --xl: 32px;*/
/*    !*--xxl: 48px;*!*/


/*    !*!* Custom width sizes *!*!*/
/*    !*--width-sidebar: 250px;*!*/
/*    !*--width-mobile-sidebar: 80px;*!*/
/*    !*--width-max-content: 1200px;*!*/

/*    !*!* Custom height sizes *!*!*/
/*    !*--height-header: 80px;*!*/
/*    !*--height-footer: 60px;*!*/
/*    !*--height-mobile-header: 60px;*!*/

/*    !*!* Custom spacing sizes *!*!*/
/*    !*--spacing-small: 8px;*!*/
/*    !*--spacing-medium: 16px;*!*/
/*    !*--spacing-large: 24px;*!*/

/*    !*!* Custom border radius *!*!*/
/*    !*--radius-small: 4px;*!*/
/*    !*--radius-medium: 8px;*!*/
/*    !*--radius-large: 12px;*!*/
/*  }*/
/*}*/